In [16]:
import pandas as pd
df = pd.read_csv('F:\\Udemy Courses\\Udemy - Machine Learning\\Py-Master\\ML\\9_decision_tree\\salaries.csv')
df.head(2)

  company              job     degree  salary_more_then_100k
0  google  sales executive  bachelors                      0
1  google  sales executive    masters                      0

In [17]:
inputs = df.drop('salary_more_then_100k',axis='columns')

In [18]:
target = df['salary_more_then_100k']

In [33]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [34]:
inputs['company_n']= le.fit_transform(inputs['company'])
inputs['job_n']= le.fit_transform(inputs['job'])
inputs['degree_n']= le.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [35]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [36]:
from sklearn import tree

In [37]:
model = tree.DecisionTreeClassifier()
model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [38]:
#As training and testing data is same 
model.score(inputs_n,target)

1.0

In [39]:
model.predict([[2,2,1]])

array([0], dtype=int64)

In [40]:
model.predict([[2,0,1]])

array([1], dtype=int64)

## From LogisticRegression as target is either Yes or No

In [42]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()

In [44]:
reg.fit(inputs_n,target)

C:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
reg.predict([[2,0,1]])

array([1], dtype=int64)

In [46]:
reg.predict([[2,2,1]])

array([1], dtype=int64)

In [48]:
reg.score(inputs_n,target)

0.75